<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProjectPath" value="\\bin\\debug\\"/>
    <add key="AssemblyName" value="LinqSales"/>    <!-- <<< If you named your project something different, enter your namespace name here <<<-->
  </appSettings>

</configuration>